<server description="proloco-be">

    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                   httpPort="${default.http.port}"
                   httpsPort="${default.https.port}"/>

    <applicationManager autoExpand="true"/>

    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}/jdbc" includes="postgresql-*.jar"/>
    </library>

    <dataSource jndiName="jdbc/prolocobeDS">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties.postgresql
                serverName="${env.POSTGRES_HOST}"
                portNumber="${env.POSTGRES_PORT}"
                databaseName="${env.POSTGRES_DB}"
                user="${env.POSTGRES_USER}"
                password="${env.POSTGRES_PASSWORD}"/>
    </dataSource>

</server>
